@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-paragraph box-border;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

svg {
  fill: currentColor;
}

@layer base {
  :root {
    --black-accent: 240 10% 4%;
    --white-accent: 240 240 242;

    --success-900: 120 92% 9%;
    --success-700: 120 65% 28%;
    --success: 116 90% 27%;
    --success-200: 120 50% 63%;

    --error-900: 349 94% 10%;
    --error-700: 350 94% 17%;
    --error: 350 91% 36%;
    --error-200: 0 55% 64%;

    --primary-900: 58 100% 55%;
    --primary: 58 100% 55%;
    --secondary: 255 21 114;
    --border: 240 3.7% 15.9%;

    --terminal: 225 225 225;

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    /* --primary: 0 0% 98%; */
    --primary-foreground: 0 0% 9%;
    /* --secondary: 0 0% 14.9%; */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    /* --border: 0 0% 14.9%; */
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}

@keyframes fade-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes fade-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes shrink-away-bottom {
  0% {
    transform-origin: bottom center;
    scale: 1;
  }

  100% {
    transform-origin: bottom center;
    scale: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes float-random {
  0%,
  100% {
    transform: translateX(5px) translateY(0) rotate(0deg);
  }
  10%,
  90% {
    transform: translateX(-15px) translateY(-10px) rotate(-3deg);
  }
  20%,
  80% {
    transform: translateX(10px) translateY(-20px) rotate(3deg);
  }
  30%,
  70% {
    transform: translateX(-10px) translateY(15px) rotate(-3deg);
  }
  40%,
  60% {
    transform: translateX(10px) translateY(10px) rotate(3deg);
  }
  50% {
    transform: translateX(5px) translateY(0) rotate(0deg);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(10px, -20px);
  }
  67% {
    transform: translate(-5px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    scale: 1;
  }
}

/* Paths created using:
  - https://www.blobmaker.app/ for the clip path (points slider full)
  - https://yqnn.github.io/svg-path-editor/ to transform it (translate X and Y by 100, scale x2)
*/
@keyframes change-blob {
  0% {
    clip-path: path(
      'M 271.6 74.4 C 298.8 91.4 330.6 98.8 348.2 118.2 C 365.8 137.4 369.2 168.8 362.8 196.4 C 356.4 223.8 340.2 247.8 323 267.6 C 305.6 287.4 287.2 303.2 266.4 316.6 C 245.8 330 223 341 196.8 346.6 C 170.6 352 141.4 352.2 120 339.2 C 98.8 326.2 85.4 300 67.6 274.6 C 49.8 249.2 27.2 224.6 21.8 196.8 C 16.2 169.2 27.8 138.2 45.8 112.6 C 63.6 87.2 87.6 67 114.2 49.6 C 141 32.2 170.6 17.8 196.4 24 C 222.4 30.2 244.6 57.2 271.6 74.4 Z'
    );
  }

  10% {
    clip-path: path(
      'M 284.4 55.6 C 305 65.6 314.2 97.2 329.6 124.8 C 345 152.4 366.4 176.2 365.8 199.6 C 365.2 223 342.2 246 321.6 264.4 C 300.8 282.8 282.2 296.6 262.4 318.2 C 242.4 339.6 221.2 369 199 370.8 C 176.6 372.6 153.4 346.8 130.2 327.2 C 107.2 307.4 84.2 293.8 65 273.6 C 45.6 253.4 29.8 226.6 31.4 201 C 33.2 175.4 52.6 150.8 74.2 134.4 C 95.8 118 119.6 110 140.8 100.4 C 162.2 90.8 181.2 79.6 206.6 68.4 C 232 57.2 263.8 45.6 284.4 55.6 Z'
    );
  }

  20% {
    clip-path: path(
      'M 259.6 105.8 C 285.6 111.6 320.2 111 340.2 125.6 C 360.2 140.4 365.2 170.2 359.8 196.8 C 354.4 223.6 338.6 247.2 318.8 262.4 C 299.2 277.4 275.8 284 255.4 301.4 C 235 318.6 217.4 346.4 193.8 357 C 170.4 367.6 140.6 360.8 125.2 340.8 C 109.6 320.6 108.4 287.2 101.4 261.4 C 94.4 235.8 81.8 218 79.2 198.4 C 76.6 179 84 158.2 91.4 133.4 C 99 108.6 106.4 79.8 124.6 69.6 C 142.6 59.4 171.4 67.6 194.2 77.6 C 217 87.8 233.8 100 259.6 105.8 Z'
    );
  }

  30% {
    clip-path: path(
      'M 273.2 81.8 C 298.2 87.6 324 100.6 336.6 121.4 C 349.2 142.4 348.6 171.2 348.8 200.2 C 349.2 229.2 350.6 258.4 332.4 269.6 C 314 280.6 276.2 273.6 250.8 267.4 C 225.6 261.4 212.8 256.2 197.6 260.2 C 182.6 264.2 165.2 277.4 137.4 285 C 109.6 292.4 71.6 294.2 47.8 279.2 C 24 264 14.4 232 21.8 204.4 C 29.4 176.6 54 153.2 78.4 139.4 C 103 125.4 127.4 120.8 147.6 112.2 C 167.8 103.6 183.8 90.8 204 84 C 224.2 77 248.2 75.8 273.2 81.8 Z'
    );
  }

  40% {
    clip-path: path(
      'M 275.6 88.4 C 299.8 83 322.4 99.6 340.6 121.8 C 358.8 144.2 372.4 172 360 192.8 C 347.4 213.6 309 227.2 290.8 249.2 C 272.6 271.4 274.6 302.2 262.8 324 C 251.2 346 225.6 359 196.4 365.2 C 167.2 371.4 134.4 370.8 120.8 350 C 107 329.4 112.4 288.4 98.8 260 C 85.2 231.6 53 215.8 44.4 195 C 35.8 174.2 51 148.6 73.2 135.2 C 95.6 122 124.8 121.4 147.2 125.6 C 169.4 129.8 184.8 139 205.2 130 C 225.8 121 251.4 93.8 275.6 88.4 Z'
    );
  }

  50% {
    clip-path: path(
      'M 276.8 63.8 C 296.2 78.2 306.4 105.4 321 130.4 C 335.8 155.2 355 177.6 355 200 C 355 222.4 335.6 244.8 316.4 261.6 C 297 278.4 277.6 289.4 258.2 297.4 C 238.8 305.2 219.4 309.8 196.2 316.4 C 173 322.8 146.2 331.4 122.6 326 C 98.8 320.6 78.6 301.2 74.4 277.8 C 70.2 254.6 82.2 227.2 77.6 197.4 C 73 167.4 52 134.8 59 116.4 C 66 98 101 93.8 129.2 84.4 C 157.4 75 178.8 60.4 203.8 54 C 228.6 47.6 257.4 49.2 276.8 63.8 Z'
    );
  }

  60% {
    clip-path: path(
      'M 240.6 127.4 C 262.8 142.6 298.2 132.8 323.6 140.6 C 349.2 148.6 364.8 174.2 356 195 C 347.2 215.6 314 231 292.6 246.2 C 271.2 261.2 261.8 275.8 248.2 285.6 C 234.8 295.6 217.4 300.8 197.6 304.8 C 177.8 309 155.6 312 136.4 305.6 C 117.2 299 101 282.8 84 263.6 C 67 244.4 49 222.2 56.4 204.2 C 63.8 186.4 96.4 172.6 116.6 158.8 C 136.8 145.2 144.6 131.2 156.4 110 C 168.2 88.6 184.2 59.6 196.6 65.6 C 209.2 71.4 218.2 112 240.6 127.4 Z'
    );
  }

  70% {
    clip-path: path(
      'M 261.4 93 C 271.4 99.4 265.8 132.4 263.6 154.6 C 261.6 176.8 263 188.4 272.2 205.4 C 281.6 222.4 298.8 244.6 298.6 262.8 C 298.2 280.8 280.4 294.8 261.2 315.4 C 241.8 336 221 363.4 195.2 372 C 169.4 380.4 138.6 369.8 133.6 341 C 128.6 312 149 264.8 143.8 238.2 C 138.6 211.6 107.8 205.8 89.6 189.6 C 71.4 173.2 66.2 146.4 74.4 125 C 82.6 103.8 104.4 87.8 127.6 89 C 150.8 90 175.4 108.2 200.6 107.2 C 225.6 106.4 251.4 86.4 261.4 93 Z'
    );
  }

  80% {
    clip-path: path(
      'M 261.8 103 C 289.8 109.2 329.2 106 338.2 120.6 C 347.4 135.2 326.2 167.6 320.6 196.8 C 315 226 325 252 316.2 267.2 C 307.4 282.4 280.2 286.8 257.6 285.6 C 235.2 284.4 217.6 277.4 195.8 284.6 C 174 292 148 313.6 136.2 308.6 C 124.4 303.8 127 272.2 113 249.6 C 99.2 227.2 69 213.6 64.4 197.4 C 60 181.2 81.2 162.6 100.8 149.8 C 120.4 137 138 130.2 154.4 117.4 C 170.6 104.4 185.2 85.2 201 83.4 C 216.8 81.6 233.8 97 261.8 103 Z'
    );
  }

  90% {
    clip-path: path(
      'M 260 100.6 C 288 112.4 328 107.6 332.4 121.4 C 336.8 135.2 305.2 167.6 305.2 200 C 305 232.2 336.2 264.4 333 280.2 C 330 296 292.4 295.4 264.4 307.6 C 236.6 319.6 218.2 344.2 194 354.8 C 169.6 365.2 139.2 361.6 116 346.8 C 92.8 332 77 306.2 59.4 279.8 C 41.6 253.6 22.4 226.8 37.6 208.8 C 53 190.8 102.8 181.8 130.2 172.4 C 157.4 163 162.4 153.2 170.4 130 C 178.2 106.6 189.2 69.6 202.6 65.2 C 216 60.8 231.8 89 260 100.6 Z'
    );
  }

  100% {
    clip-path: path(
      'M 271.6 74.4 C 298.8 91.4 330.6 98.8 348.2 118.2 C 365.8 137.4 369.2 168.8 362.8 196.4 C 356.4 223.8 340.2 247.8 323 267.6 C 305.6 287.4 287.2 303.2 266.4 316.6 C 245.8 330 223 341 196.8 346.6 C 170.6 352 141.4 352.2 120 339.2 C 98.8 326.2 85.4 300 67.6 274.6 C 49.8 249.2 27.2 224.6 21.8 196.8 C 16.2 169.2 27.8 138.2 45.8 112.6 C 63.6 87.2 87.6 67 114.2 49.6 C 141 32.2 170.6 17.8 196.4 24 C 222.4 30.2 244.6 57.2 271.6 74.4 Z'
    );
  }
}
